<template>
    <div>
        <PhotoCapture v-model="imageBase64" />
        <VideoCapture  
        recordBtnContent= "⬤" 
        doneBtnContent="✓" 
        stopBtnContent="◼" 
        uploadUrl="http://192.168.29.99:3000/save/video" 
        v-model="videoUrl" />
        <button @click="showPicture">Submit</button>
    </div>
</template>

<script>
import 'vue-media-recorder/src/assets/scss/main.scss'
import axios from 'axios';
import {
  PhotoCapture,
  VideoCapture
} from 'vue-media-recorder'
export default {
    data(){
        return {
            imageBase64: null,
            videoUrl: null,
        }
    },
    methods: {
      showPicture(){
        console.log('Image', this.videoUrl);
        // const image = this.imageBase64;
        // let img = 'Hi';
        const data = axios.post(`http://192.168.29.99:4000/save/video`, {
        image: this.videoUrl,
      });
        console.log(data);
      },
    },
    components:{
        PhotoCapture,
        VideoCapture
    }
}
</script>